In [1]:
import pandas as pd
from sklearn.linear_model import LinearRegression

In [2]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [3]:
train.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [4]:
features = ['OverallQual', 'OverallCond']
x_train = train[features]
x_test = test[features]
y_train = train['SalePrice']

In [5]:
model = LinearRegression()
model.fit(x_train,y_train)
predictions = model.predict(x_test)

In [6]:
submission = test[['Id']]
submission

        Id
0     1461
1     1462
2     1463
3     1464
4     1465
...    ...
1454  2915
1455  2916
1456  2917
1457  2918
1458  2919

[1459 rows x 1 columns]

In [7]:
submission['SalePrice'] = predictions

C:\Users\ASUS\AppData\Local\Temp\ipykernel_18568\2834354856.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  submission['SalePrice'] = predictions

In [8]:
submission

        Id      SalePrice
0     1461  130845.895547
1     1462  176254.328223
2     1463  131215.902091
3     1464  176254.328223
4     1465  267441.200117
...    ...            ...
1454  2915   85067.456329
1455  2916   85807.469416
1456  2917  130475.889004
1457  2918  131215.902091
1458  2919  222032.767441

[1459 rows x 2 columns]

In [9]:
submission.to_csv('submisssion_house.csv', index=None)

In [10]:
numeric_columns = train.select_dtypes(include=['number']).columns
train[numeric_columns] = train[numeric_columns].fillna(train[numeric_columns].median(), inplace=False)

In [11]:
numeric_columns = test.select_dtypes(include=['number']).columns
test[numeric_columns] = test[numeric_columns].fillna(test[numeric_columns].median(), inplace=False)

In [12]:
train=pd.get_dummies(train)

In [13]:
test=pd.get_dummies(test)

In [ ]:
train, test = train.align(test, join='inner', axis=1)
train